body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://images.pexels.com/photos/6590630/pexels-photo-6590630.jpeg?cs=srgb&dl=pexels-sergei-starostin-6590630.jpg&fm=jpg");
  background-color: black;
  background-size: 400vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 50px;
  height: 100vh;
}

.page-title {
  color: black;
  margin: 0 0 10px;
}

.page-subtitle {
  color: black;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12 px;
  padding: 6 px;
  border-radius: 5 px;
}

label {
  color: black;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: black;
  font-size: 30px;
}
